.contacts-wrapper {

	.contacts {
		max-width: 1080px;
		margin: 0 auto;
		text-align: center;

		.title {
			font-size: 83px;
			font-family: "Century Gothic";
			font-weight: bold;
			height: 83px;
			display: inline-block;
			/*margin-top: 80px;*/
			color: #000;
		}
			
		.main-contacts {
			margin-top: 80px;
			margin-bottom: 80px;
			
			.contacts_block {
				display: flex;
				justify-content: space-between;
				margin-bottom: 40px;

				img {
					max-height: 80px;
					max-width: auto;
					margin: auto auto;
					display: inline-block;
					transition: 0.2s 0.5s;

					&:hover {
						max-height: 90px;
						max-width: auto;
						transition: 0.2s;
						cursor: pointer;
					}
				}

				.information {
					width: 50%;
					text-align: left;
					margin: auto 0;
					height: 90px;
				}
			}

		}

	}
}


.italic {
	font-size: 30px;
	font-family: "Century Gothic";
	font-style: italic;
}

.bold {
	font-size: 70px;
  	font-family: "Century Gothic";
  	font-weight: bold;
}

.center {
	line-height: 90px;
	max-height: 90px;
}


a {
	max-height: 80px;
	max-width: auto;
	margin: auto auto;
	display: inline-block;
	transition: 0.2s 0.5s;
}

.main-contacts {

}