footer {
	width: 100%;
	background-image: url(img/secondBackground.jpg);
	background-size: cover;
	color: #fff;
	display: flex;
	justify-content: space-between;

	.footer_text {
		margin-left: 35px;
		margin-right: 35px;
		margin-top: 75px;
		display: flex;
		flex-direction: column;
		min-width: 256px;

		.footer_text-block {
			display: flex;
			flex-direction: column;
			margin-bottom: 40px;

			.yurasevVladislav {
				font-size: 30px;
				font-family: "Century Gothic";
				font-weight: 600;
			}
		}
	}

	.main-img_wrapper {

		margin: auto auto;

		img {
			max-width: 100%;
		}
	}
}




